.container {
	display: flex;
	flex-direction: row
}

li {
	display: flex-grow;
	width: 200px;
	height: 80px;
	background-color: blue;
	border-color: red;
	border-style: solid
}

ul {
	list-style-type: none
}